@theme{
    --color-Primary-50: #FFFFFF;
    --color-Primary-100: #FAFAFA;
    --color-Primary-200: #F1F1F1;
    --color-Primary-300: #E9E9E9;
    --color-Primary-400: #C1C1C1;
    --color-Primary-500: #919191;
    --color-Primary-600: #5B5B5B;
    --color-Primary-700: #3B3B3B;
    --color-Primary-800: #1E1E1E;
    --color-Primary-900: #000000;
}