@theme {
  --font-NotoSans: "Noto Sans", sans-serif;
  --font-Tourney: "Tourney", sans-serif;
}
@utility h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
@utility h2-spacing{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.12em;
}
@utility h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}
@utility h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
}
@utility h4-bold-spacing{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.12em;
}
@utility h4-bold-spacing{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}
@utility h4-regular{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}
@utility h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
@utility h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
@utility fs-2{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
@utility fs-3{
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}
@utility fs-4{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
@utility fs-5{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
@utility fs-5-regular{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
@utility fs-6{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
@utility fs-6-regular{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@utility number-lg{
    font-size: 72px;
    line-height: 120%;
    font-family: var(--font-Tourney);
}
@utility number-sm{
    font-size: 48px;
    line-height: 120%;
    font-family: var(--font-Tourney);
}